<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    HEARDER HERE IN application.html.erb ... <br></br>
    <%= link_to("HOME", {:action => 'index'}) %>
    <%= yield %>
    
    <br></br>
    FOOTER HERE IN application.html.erb ...
  </body>
</html>
